<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  
    <servlet>
        <servlet-name>UsesrFormServlet</servlet-name>
        <servlet-class>UserFormPackage.UsesrFormServlet</servlet-class>
    </servlet>    
    <servlet>
      <servlet-name>UserRegistrationServlet</servlet-name>
      <servlet-class>UserFormPackage.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>superUserLoginServlet</servlet-name>
      <servlet-class>superUserPackage.superUserLoginServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>superUserRegistrationServlet</servlet-name>
      <servlet-class>superUserPackage.superUserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>UserPurchaseServlet</servlet-name>
      <servlet-class>StorePackage.UserPurchaseServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>Cart</servlet-name>
      <servlet-class>OnlineStorePackage.Cart</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>LineItem</servlet-name>
      <servlet-class>OnlineStorePackage.LineItem</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>Products</servlet-name>
      <servlet-class>OnlineStorePackage.Products</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>vendorItemServlet</servlet-name>
      <servlet-class>vendor.vendorItemServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>DBGatewayServlet</servlet-name>
      <servlet-class>dbConnectorPackage.DBGatewayServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>vendorItemShowServlet</servlet-name>
      <servlet-class>vendor.vendorItemShowServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>storeListItemServlet</servlet-name>
      <servlet-class>StorePackage.storeListItemServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>vendorEditItemServlet</servlet-name>
      <servlet-class>vendor.vendorEditItemServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>vendorDeleteItemServlet</servlet-name>
      <servlet-class>vendor.vendorDeleteItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>vendorDeleteItemServlet</servlet-name>
      <url-pattern>/vendor/vendorDeleteItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>vendorEditItemServlet</servlet-name>
      <url-pattern>/vendor/vendorEditItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>storeListItemServlet</servlet-name>
      <url-pattern>/StorePackage/storeListItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>vendorItemShowServlet</servlet-name>
      <url-pattern>/vendor/vendorItemShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>DBGatewayServlet</servlet-name>
      <url-pattern>/dbConnectorPackage.DBGatewayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>vendorItemServlet</servlet-name>
      <url-pattern>/vendor/vendorItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Products</servlet-name>
      <url-pattern>/OnlineStorePackage/Products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>LineItem</servlet-name>
      <url-pattern>/OnlineStorePackage/LineItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Cart</servlet-name>
      <url-pattern>/OnlineStorePackage/Cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>UserPurchaseServlet</servlet-name>
      <url-pattern>/StorePackage/UserPurchaseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>superUserRegistrationServlet</servlet-name>
      <url-pattern>/superUserPackage/superUserRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>superUserLoginServlet</servlet-name>
      <url-pattern>/superUserPackage/superUserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>UserRegistrationServlet</servlet-name>
      <url-pattern>/UserFormPackage/UserRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsesrFormServlet</servlet-name>
        <url-pattern>/UserFormPackage/UsesrFormServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
